<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
    <h1 style="font-size: 30px;">Primario</h1> - <h3>(Finalizado)</h3></li>
    
</ul>


<ul>
    <li>
    <h1 style="font-size: 30px;">Secundario</h1> - <h3>(Finalizado)</h3></li>

</ul><ul>
    <li>
    <h1 style="font-size: 30px;">Terciario: </h1> - <h3>ISEM (Peluquera – Estilista)</h3></li>
    </ul>
    <ul>
        <li>
            <h1 style="font-size: 30px;">Cursos completados (UDEMY):
            </h1> <h3>Linux intermediate
                Git
                Python & Django Basics</h3>
        </li>
    </ul>
    </div>
</div>

