<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpg"
     class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> Pereira Gisel Marina </p>
    <p>Full Stack Developer jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h2>Acerca de mí</h2>
        <p style="font-size: 15px;">Soy desarrolladora FullStack 
         jr en Angular y Python-Django,
         poseo buena adaptación al entorno de trabajo
         y ganas de seguir progresando/aprendiendo.
            
        </p>
    </span>
</div>
<div>