<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpg"
     class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> Pereira Gisel Marina </p>
    <p>Full Stack Developer jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur 
         adipisicing elit. Eveniet pariatur commodi est, 
         esse vel numquam repellat beatae dignissimos
         excepturi delectus sint aliquid vitae perferendis
         nobis tempore accusantium libero, quia temporibus?
        </p>
    </span>
</div>
<div>