<div class="row">
    <h1 style="font-size: 30px;">Hard & soft skills</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">   
    <circle-progress
     [percent]="95"
     [radius]="70"
     [showUnits]="false"
     [title]="'HTML'"
     [titleFontSize]="'1.5em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="10"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'#1bd3dc'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="300"
></circle-progress>
</div>

     <div class="col-sm-2 col-md-2 col-lg-2">  
       <circle-progress
        [percent]="80"
        [radius]="70"
        [showUnits]="false"
        [title]="'css'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#1bd3dc'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
   ></circle-progress>
</div>
   <div class="col-sm-2 col-md-2 col-lg-2">
   <circle-progress
    [percent]="70"
    [radius]="70"
    [showUnits]="false"
    [title]="'javascript'"
    [titleFontSize]="'1.4em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1bd3dc'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">  
   <circle-progress
    [percent]="90"
    [radius]="70"
    [showUnits]="false"
    [title]="'gitHub'"
    [titleFontSize]="'1.5em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1bd3dc'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-2 col-md-2 col-lg-2">  
    <circle-progress
     [percent]="20"
     [radius]="70"
     [showUnits]="false"
     [title]="'Ingles'"
     [titleFontSize]="'1.5em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="10"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'#1bd3dc'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="300"
 ></circle-progress>
 </div>
</div>
